# --- System ---

desktop.ini
.DS_Store

# --- Python ---

__pycache__/
*.py[cod]
.venv/
venv/

# --- Node / React ---

node_modules/
dist/
build/
.eslintcache

# --- Project Data ---

*.csv


# --- API Keys ---

.env
.env.local